$_REPL->load_plugin(qw(
  FancyPrompt
  Colors
));
$_REPL->fancy_prompt(sub {
    my $self = shift;
    sprintf "> ";
});
$_REPL->fancy_continuation_prompt(sub {
    my $self = shift;
    sprintf ": ";
});
