"*":
  "exception-reporting":
    userId: "dca646ff-7846-e59c-721e-7c0f87d74a83"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    projectHome: "/home/zebdeos/src"
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".*"
      "*~"
      "#*#"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    scrollPastEnd: true
    fontFamily: "Source Code Pro"
  minimap: {}
  "tree-view":
    hideIgnoredNames: true
  "block-cursor":
    preview: "The quick brown fox jumps over the lazy dog"
    primaryColor:
      red: 0
      green: 92
      blue: 154
      alpha: 1
