.netrwhist
private
emacs.d/auto-save-list
emacs.d/session*
fbrun_history
*~
\#*\#
.\#*
tags*
public/emacs.d/elpa
public/emacs.d/eshell
public/emacs.d/ido.last
public/emacs.d/url
public/fluxbox/styles
public/emacs.d/bookmarks
public/emacs.d/tramp
