.netrwhist
private
emacs.d/auto-save-list
emacs.d/session*
fbrun_history
*~
\#*\#
.\#*
tags*
dotfiles/emacs.d/elpa
dotfiles/emacs.d/eshell
dotfiles/emacs.d/ido.last
dotfiles/emacs.d/url
dotfiles/fluxbox/styles
