'welcome':
  'showOnStartup': false
'core':
  'themes': [
    'seti-ui'
    'seti-syntax'
  ]
  'disabledPackages': [
    'open-on-github'
    'metrics'
    'feedback'
    'deprecation-cop'
    'exception-reporting'
  ]
  'ignoredNames': [
    '.git'
    '.hg'
    '.svn'
    '.DS_Store'
    'Thumbs.db'
    '*.pyc'
  ]
  'audioBeep': false
'editor':
  'invisibles': {}
  'showInvisibles': true
  'preferredLineLength': 72
'tree-view':
  'hideIgnoredNames': true
  'hideVcsIgnoredFiles': true
