'welcome':
  'showOnStartup': false
'core':
  'disabledPackages': [
    'metrics'
    'feedback'
    'exception-reporting'
    'vim-mode'
  ]
  'audioBeep': false
  'themes': [
    'atom-light-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.hg'
    '.svn'
    '.DS_Store'
    'Thumbs.db'
    '*.pyc'
  ]
'editor':
  'showInvisibles': true
  'preferredLineLength': 72
  'fontFamily': 'Inconsolata'
  'fontSize': 20
'exception-reporting':
  'userId': ''
'metrics':
  'userId': ''
