[Desktop Entry]
Name=Blender
GenericName=3D modeller
Comment=3D modeling, animation, rendering and post-production
Exec=blender
Icon=blender
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
MimeType=application/x-blender;
X-XFCE-Source=file:///usr/share/applications/blender.desktop
